@charset "utf-8";

body {
  background-image: url(../images/hangman.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.titl {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto";
  font-size: 34px;
}

.jogo-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.forca {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.forca-parte {
  display: none;
}

.letras-erradas-container {
  font-size: 20px;
  color: #fff;
}

.letras-erradas-container span {
  margin: 0 2px;
}

.palavra-secreta-container {
  font-size: 45px;
}

.aviso-palavra-repetida {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  display: none;
}

.aviso-palavra-repetida p {
  margin: 0;
}

.palavra-secreta-container span {
  margin: 0 5px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.849);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #00fa9a;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  font-family: Verdana;
}

/*Footer*/
footer {
  margin-top: 18%;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.copyright img {
  height: 30px;
}
